<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Simple Layout</title>
</head>

<body>
  <header>
    <nav>
      <img src="./logo.png" alt="logo">
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav>
  </header>
  <main>
    <aside>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </aside>
    <section>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi assumenda quia magni labore! Explicabo voluptatum
        perferendis nihil. Odit molestiae minus sapiente quod ipsa vero nostrum modi? Magni in optio alias.
      </p>
    </section>
    <footer>
      footer
    </footer>
  </main>
</body>

</html>